@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.labelText {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  color: #767676;
  width: 100px;
  margin: 0 0 4px 0;
  font-family: 'Nunito', sans-serif;
}
